body{
    margin: 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,184,65,1) 2%, rgba(0,212,255,1) 100%);
}
h1,h2,h3{
  text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;  
}
audio{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
video{
    display: block;
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 20px;
}